.banner img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.overlay {
  padding: 2em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, #000000);
}

.banner #banner-image2 {
  width: 60%;
}

.banner #banner-image1 {
  width: 20%;
}

.banner #banner-image3 {
  width: 20%;
}

.banner .banner-image {
  flex: 1;
}

.banner {
  position: relative;
  display: flex;
  height: 70vh;
}

.banner span {
  position: absolute;
  bottom: 50px;
  right: 25px;
  color: white;
  font-size: 130%;
  font-weight: bold;
}

.banner span a {
  background-color: var(--primary-color);
  padding: 10px 15px;
  font-weight: bold;
  color: white;
}

.banner h1 {
  line-height: 3rem;
  color: var(--primary-color);
}

.banner p {
  color: white;
}

.banner .text-container {
  position: absolute;
  bottom: 30px;
  left: 10px;
  max-width: 300px;
}

@media screen and (max-width: 720px) {
  .banner .text-container {
    top: 10px;
  }

  .banner #banner-image3 {
    display: none;
  }

  .banner #banner-image1 {
    display: none;
  }

  .banner #banner-image2 {
    width: 100%;
  }
}
