.new-arrivals-container {
  position: absolute;
  width: 100%;
  height: 60vh;
}
.new-arrivals-container h1 {
  color: white;
  text-wrap: nowrap;
  border-bottom: 5px solid var(--primary-color);
}
.banner-content {
  justify-content: space-between;
  width: 95%;
  display: flex;
  position: absolute;
  bottom: 80px;
  padding: 0 20px;
}
#banner-image {
  width: 100%;
}
#new-arrivals-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.banner {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
}

@media only screen and (max-width: 1024px) {
  #new-arrivals-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 460px) {
  #new-arrivals-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
