header {
  background-color: black;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  height: auto;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid #ffffff30;
  color: white;
}

.logo {
  margin: 0 -10px;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.sticky-header.hidden,
.sticky-header.closed {
  height: 0;
  visibility: hidden;
  border-width: 0;
}

.sticky-header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  overflow: hidden;
  visibility: visible;

  padding: 0 20px;
  align-items: center;
  display: flex;
  height: 60px;

  transition: 0.13s ease-out;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  background-color: white;
  border: 1.5px solid #00000030;
}

.sticky-header .icon {
  filter: invert(1);
}

.sticky-header .menu-btn {
  display: block;
}

.header-top,
.header-bottom {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  align-items: center;
}

.header-left {
  padding: 10px 0 0;
}
.header-right {
  flex: 1;
  margin: 10px 0;

  gap: 15px;
}
header input {
  flex: 1;
  border-radius: 25px;
  padding: 5px 10px;
}
header img {
  width: 25px;
  height: 25px;
  max-width: 100px;
}
header a.link {
  border: 1.5px solid white;
  cursor: pointer;
}
header a.link:hover {
  color: white;
}
header .signup-button,
header .signin-button {
  border-color: white;
  color: white;
  cursor: pointer;
  padding: 10px;
}
@media only screen and (min-width: 720px) {
  .header-right input {
    margin: 0 10px;
  }

  header {
    flex-direction: column;
    gap: 20px;
  }
  .header-container .close-btn {
    display: none;
  }
  .header-right,
  .header-left {
    margin: 0;
    padding: 0;
  }
}
