.seasonal-picks-container {
  height: 100vh;
  overflow: hidden;
  margin-top: 30px;
}
.seasonal-grid button {
  z-index: 10;
  background-size: cover;
  transition: 0.4s ease;
}

.image-left {
  grid-area: left;
  width: 100%;
  object-fit: cover;
}

.image-middle-top {
  grid-area: middle-top;
  width: 100%;
  height: auto;
}

.image-middle-bottom {
  grid-area: middle-bottom;
  width: 100%;

  height: auto;
}

.image-right {
  grid-area: right;
  width: 100%;

  object-fit: cover;
  z-index: 0;
}
.seasonal-grid img {
  height: calc(180vh / 4);
  object-fit: cover;
}
.seasonal-grid p {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 2rem;
  text-align: center;
}
.seasonal-grid button {
  z-index: 9;
}
.seasonal-grid::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  opacity: 0.4;
  height: 100%;
  background-color: #000000fc;
}
.seasonal-grid-content {
  z-index: 9;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
}
.seasonal-grid img {
  z-index: 0;
}

.seasonal-grid {
  display: block;
  flex-direction: column;

  gap: 10px;
  height: 100%;
}
.seasonal-grid button {
  top: calc(50% + 90px);
  position: absolute;
}

@media screen and (min-width: 600px) {
  .seasonal-grid button {
    top: calc(50% + 80px);
    position: absolute;
  }
}
@media screen and (min-width: 720px) {
  .seasonal-grid {
    display: grid;
    grid-template-areas:
      "left middle-top right"
      "left middle-bottom right";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }
  .seasonal-picks-container {
    height: 90vh;
  }
  .image-left {
    min-height: 100%;
  }

  .image-right {
    min-height: 100%;
  }

  .seasonal-grid button {
    top: calc(50% + 50px);
    position: absolute;
  }
}
