@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

@font-face {
  font-family: Fugaz;
  src:
    url("assets/fonts/fugazone-regular-webfont.woff") format("woff"),
    url("assets/fonts/fugazone-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Fredoka;
  src: url("assets/fonts/Fredoka-VariableFont_wdth_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Dunbar;
  src:
    url("assets/fonts/DunbarTall-Regular.woff") format("woff"),
    url("assets/fonts/DunbarTall-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Dunbar;
  src:
    url("assets/fonts/DunbarText-Bold.woff") format("woff"),
    url("assets/fonts/DunbarText-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
  font-family: Dunbar, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #00000020;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  opacity: 0.9;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --primary-color: #f00008;
  --accent-color: #83d7f6;

  --bg-color: #fff;
  --second-bg-color: #141617;
}

p {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h1 {
  font-family: Dunbar;
  font-size: clamp(2.5rem, 4vw + 1rem, 3.5rem);
  line-height: 170%;
}

h2 {
  font-family: Fugaz;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}
.link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.link {
  cursor: pointer;
}
.hidden {
  display: none;
}
body {
  background-image: url(../assets/images/texture1.png);
  background-size: contain;
  background-color: var(--second-bg-color);
  overflow-x: hidden;
  max-width: 1300px;
  margin: auto;
}

.chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}

.wrap-content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content-centered {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.content-centered-absolute {
  position: absolute;
  top: 50%;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  left: 50%;
  width: 100%;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.margin-y {
  margin: 20px 0;
}
.content-row {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.justify-between {
  justify-content: space-between;
}

.align-end {
  align-items: end;
}
.align-start {
  align-items: start;
}
.align-center {
  align-items: center;
}
.scroll-content {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 10px;
  align-items: center;
}

.flex-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex-content > * {
  flex: 1;
}
.content-body {
  width: 100%;

  position: relative;
  margin-top: 30px;
  max-width: 700px;
}
main .input {
  padding: 15px;
  border-radius: 0;
  width: 100%;
}

.content-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.chevron-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 6px;
  top: 4px;
}

main {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
}
main form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="checkbox"].success:checked {
  background-color: rgb(6, 241, 53);
  border-color: rgb(6, 241, 53);
}
input[type="checkbox"] {
  margin: 0 10px 0 0;
  border: 1px solid black;
  appearance: none;
  padding: 13px;

  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: black;
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}
.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

section {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 40px;
}

dt {
  font-weight: bold;
}
button:is(
  .button-primary,
  .button-secondary,
  .button-disabled,
  .button-danger
) {
  min-height: 50px;
  font-size: 0.9rem;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.1s ease-in-out;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  cursor: pointer;

  justify-content: center;
  max-width: 200px;
  min-width: 180px;
}
button.button-primary {
  background-color: black;
  color: white;
  border: 1.5px solid black;
}

button.button-circle .icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}
button.button-circle {
  height: 30px;
  min-width: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  border-radius: 100px;
}
button.button-danger {
  background-color: red;
  color: white;
}

.link.danger {
  color: red;
}
button.button-disabled {
  cursor: unset;
  border: none;
  color: white;
  cursor: unset;
  box-shadow: none;
  background-color: #00000020;
}

.button-primary:active,
.button-secondary:active {
  transform: scale(1.02);
}

.button-secondary {
  border: 1.5px solid black;
  color: black;
  background-color: transparent;
}

.button-secondary:not(.button-disabled):hover {
  box-shadow: inset 0 -3px 0 #000000;
}
.icon {
  width: 30px;
  height: 30px;
}
a {
  color: var(--primary-color);
  font-family: "Fredoka";
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-family: Dunbar;
}

.button-primary:not(.button-disabled):hover {
  background-color: #525252;
  box-shadow: inset 0 -3px 0 #00000080;
  border-color: #2e2e2e80;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
  width: 200px;
  padding-right: 1em;
  margin: 20px 0 5px 0;
  display: flex;
  align-items: center;
}

.input {
  display: block;
  border-radius: 3px;
  background-color: #f5f5f5;
  transition: 0.2s ease;
  font-size: 16px;
  padding: 15px;
  outline: none;
  background-color: #f5f5f5;
  border: 1px solid #000;
}

.input:hover {
  background-color: white;
}

.input:focus {
  border-color: black;
  background-color: white;
  box-shadow: inset 0 -3px 0 #00000090;
}

.wrapper {
  padding: 20px 20px 30px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: 1rem;
}
@media screen and (min-width: 720px) {
  .button-primary,
  .button-secondary {
    font-size: 14px;
    padding: 10px 20px;
  }

  section {
    padding: 1em;
  }
  .flex-content {
    flex-direction: row;
  }
}
